.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(253, 230, 230, 0.5),
        rgba(155, 152, 152, 0.5)
        ),
        url("https://media.istockphoto.com/photos/human-figure-icon-graphic-as-user-login-button-on-white-keyboard-picture-id1226883131?b=1&k=20&m=1226883131&s=170667a&w=0&h=FMYb1DFOYbcb2vmbzZhq71k-4cuarJ1U4xCBWjGnze8=");
        background-size: cover;
}
.lTitle {
    font-size: 50px;
}
.lForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.lForm > label {
    margin: 10px 0;
}
.lInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
}
.lInput:focus {
    outline: none;
}
.lBtn {
    margin-top: 20px;
    cursor: pointer;
    background-color: crimson;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.lSignupBtn {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgb(37, 95, 95);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
}
.lSignupBtn:hover{
    cursor: pointer;
    transform: translateY(3px);
    transition: .4s;
}